@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* body {
  background-color: #5bb1d6;
} */

#content {
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
  /* border: solid #5bb1d6 3px; */
  border-radius: 5px;
  /* background-color: #F2E8DC; */
  font-family: "Roboto", sans-serif;
}

#title {
  height: 100px;
  font-size: 2em;
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

#books-label {
  font-size: 2em;
}

/* .book-select {
  position: relative;
} */

#books {
  padding: 5px;
  margin: 5px;
  border: solid slategray 3px;
  border-radius: 2%;
  font-size: 1.5em;
}

#quiz-btn {
  border: solid slategray 3px;
  border-radius: 2%;
  font-size: 1.5em;
}

#vocab-list {
  padding: 20px;
}

.unit {
  margin-bottom: 100px;
}

.unit-heading {
  display: flex;
  align-items: center;
}

.unit-title {
  display: inline-block;
  margin: 20px 0;
  font-size: 1.5em;
}

.vocab-grid {
  margin: auto;
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 20px;
}

.thumbnail {
  position: relative;
  border: solid slategray 3px;
  /* border: solid #5bb1d6 3px; */
  border-radius: 2%;
  transition: 0.2s ease;
}

.thumbnail:hover {
  border: solid green 3px;
}

.thumbnail-tick {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 20%;
  width: 20%;
  opacity: 0;
  fill: green;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: green;
  transition: 0.2s ease;
}

.thumbnail-overlay:hover {
  opacity: 0.1;
}

.vocab-id {
  position: absolute;
  font-weight: bold;
  top: 2%;
  left: 5%;
}

.thumbnail-image {
  display: block;
  width: 100%;
  border-radius: 2%;
}

.selected .thumbnail {
  border: solid green 3px;
}

.selected .thumbnail-tick {
  opacity: 1;
}

.label {
  margin: 2px;
  font-size: 1.3em;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  margin: 0 20px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}